//VARIABLES
$main-color: #2430D7;
$main-color2: #323EDD;
$main-color-hover:#5d67f1;
$main-color-suspended:  #6873d459;
$canvas-color: white;
$default-text-color:black;
$fore-text-color:white;
$snow-background: rgb(23, 23, 23);
$black: black;
$white: white;
$hoverColor: rgb(255,184,154);
$accent-color: rgb(255, 149, 104);
$main-dark-color: #05091F;
$gray-text: rgb(186, 186, 186);
$footer-logo-span: #FFA41B;
$faq-background: #d8d6d6;
$second-accent-color: #FFA41B;
$testimonials-background:#e1e2f6;
$belt-color:#090F35;