@import '../../styles/fragments/colors/colors.scss';

@import '../fragments/mixins/mixins.scss';

//SHOWCASE

.home-showcase{
   @include globalPadding;

    margin-top: 5rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .home-showcase-header{

        margin-bottom: 3rem;
        h1{
            font-size: 2.4rem;
            text-align: center;
            width:25ch;
            margin: 0 auto;
            margin-bottom: 2.5rem;

            span{

                color:$main-color;
            }
        }

        p{

            width:85ch;
            text-align: center;
        }
    }


    .home-showcase-content{


        display:flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        gap:3rem;

        img{
            width:300px;
            height:300px;
        }

    }
}


.home-showcase-card{

 
    .home-showcase-card-icon{
        margin-bottom: 2rem;
        color:$main-color;
    }
    .home-showcase-card-content-title{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    
    .home-showcase-card-content-description{

        font-size: 1rem;
        width:30ch;
    }

}


//STATS


.home-stats{

    margin-top: 1rem;
    margin-bottom: 3rem;
    @include globalPadding;

    .home-stats-container{

        display:flex;
        align-items: center;
        justify-content: center;
    }

    .stats-background-image{
        background-image: url('../../assets/ninefivehome-stats-bg.webp');
        height:400px;
        min-width:500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        resize: none;

    }
    .stats-info{
        background-color: $main-color;
        color:$white;
        padding:2rem;
       // max-width:1000px;
        height:450px;
        
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;



      /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
    }

    .stats-header{
         margin-bottom: 4rem;


         .stats-header-title{
            color:$white;
            width:46ch;
            font-size: 1.2rem;
            margin-bottom: 1rem;

            span{

                color:$accent-color;
            }
         }


         
         .stats-header-description{
            width:52ch;
          }

          
    }

    .stats-figures{
     display:flex;
     gap:5rem;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;

    }
    .figure-title{

        margin-top:0.5rem;
    }
}


//JOIN US


.home-join-us{


    height:80vh;
    width:100%;
    display:flex;
    justify-content: center;
      background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)), url('../../assets/hero-bg-01.webp');
 
     background-attachment: fixed;
    .home-join-us-content{

        color:$white;
        @include globalPadding;
        display:flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
    }
    .join-us-title{

        font-size: 4rem;
        width:15ch;
        text-align: right;
        text-wrap: wrap;
    }
    .join-us-description{
        font-size: 2rem;
        margin-top: 1rem;
    }
    .join-us-button{

        @include buttons;
    }
}


/* FAQ */


.faq{

   padding: 2rem 12rem;

  
   
    background-color: $faq-background;
 
   
    .faq-title-container{
       .faq-title{
        transform: translateY(100%);
       }
    }

    .accordion-content{
        margin-top: 4rem;
    }

    .faq-accordion{

        display:flex;
      
        gap:2rem;
        justify-content: space-between;
    }


    .faq-gallery{
        display:flex;
        flex-direction: column;


        .gallery-big-image>img{

            width:610px;
            margin-bottom: 1rem;
        }

        .gallery-dual-images>img{

            width:300px;
        
        }
        .gallery-dual-images{
            display:flex;
            gap:10px;
        }
    }



    //ACCORDION
.Accordion{
    margin-bottom: 3rem;
}
  .accordion-details{
    background-color: #ffa41ba3;
    color:black;
  }
    
  .accordion-summary{
    background-color: $main-color;
    color:$white;
  }
}


//CALL TO ACTION


.cta{


    @include globalPadding;
 height:90%;
 color:$white;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../assets/cta-bg.webp');
width:100%;
  background-attachment: fixed;
  padding-bottom: 3rem;
 

 .cta-title{
    font-size: 2rem;
    margin-bottom: 3rem;
    width: 45ch;
 }
  .cta-content{

    padding:5rem 0rem;


    .form{
        display:flex;
        flex-direction: column;
        width:40%;

        input{
            margin-bottom: 1rem;
            padding:1rem;
            border:none;
            outline:none;
            border-radius: 5px;
        }
          textarea{
            padding:1rem;
            resize: none;
            border:none;
            outline:none;
            border-radius: 5px;
          }
          button{
            @include buttons;
          }
    }
  }

}



/* TESTIMONIALS */

.testimonials{
   padding:4rem 12rem;
  background-color: $testimonials-background;
  background-image: linear-gradient(to right, #f2cece, #d7f0d7, #c8c8ee);
    
 

 .testimonials-title{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 margin: 1rem auto 3rem auto;
    font-size: 1.3rem;
    width:50ch;

    span{
        color: $main-color;
    }
 }
    .testimonials-container{
          
        display:flex;
        justify-content: space-between;
        align-items: center;
       
        .testimonial-card{
      background-color: rgb(249, 245, 236);
      padding:2rem;
      border-radius: 10px;
      height:360px;
          .testimonial-profile{

            .testimonial-img{
                position: relative;
           
            .img-profile{
              
                width:110px;
                height:100px;
             border-radius: 100%;
             object-fit: cover;
             object-position: center;
             margin-bottom: 2rem;

            }

            .img-qoute{

                width:30px;
                height:30px;
                position: absolute;
                top:-5px;
                right: 0;
            }
        }

          }

            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 28ch;
            text-align: center;
        }

    }
    .testimonial-paragraph{
       font-size: 0.9rem;
       margin-bottom: 2rem;
    }
    .testimonial-author{
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        font-weight: bolder;
    }
    .testimonial-occupation{
        font-size: 0.9rem;
        text-wrap: wrap;
        width:15ch;
    }

    .swiper-slide{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .mySwiper{
        cursor: pointer;
    }
}




//MEDIA QUERIES || RESPONSIVE STYLES

@media (max-width:1400px){
    .home-showcase{


        padding: 0rem 9rem;
    }

    .home-stats{

        padding: 0rem 9rem;
    }
    .faq{
        padding:2rem 9rem;
    }
    .testimonials{

        padding:4rem 9rem;
    }

    .home-join-us{
    .home-join-us-content{

        padding:0rem 9rem;
    }
}

.cta{
 padding:0rem 9rem;

}
}

@media (max-width:1300px){

    .home-showcase{

        padding:0rem 5rem;
    }
    .home-stats{

        padding: 0rem 5rem;
    }
    .faq{
        padding:2rem 5rem;
    }
    .testimonials{

        padding:4rem 5rem;
    }
    .home-join-us{
        .home-join-us-content{
    
            padding:0rem 5rem;
        }
    }
    .cta{
        padding:0rem 5rem;
       
       }
}

@media(max-width:1200px){

.home-stats{


    .home-stats-container{

        display:flex;
        align-items: center;
        justify-content: center;
    }

    .stats-background-image{
        background-image: url('../../assets/ninefivehome-stats-bg.webp');
        height:300px;
        min-width:400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        resize: none;

    }
    .stats-info{
        background-color: $main-color;
        color:$white;
        padding:2rem;
       // max-width:1000px;
        height:350px;
        
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;



      /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
    }
}


.faq{

   
 
   
    
     background-color: $faq-background;
  
    
     .faq-title-container{
        .faq-title{
         transform: translateY(100%);
        }
     }
 
     .accordion-content{
         margin-top: 4rem;
     }
 
     .faq-accordion{
 
         display:flex;
       
         gap:2rem;
         justify-content: space-between;
     }
 
 
     .faq-gallery{
         display:flex;
         flex-direction: column;
 
 
         .gallery-big-image>img{
 
             width:510px;
             margin-bottom: 1rem;
         }
 
         .gallery-dual-images>img{
 
             width:255px;
         
         }
         .gallery-dual-images{
             display:flex;
             gap:10px;
         }
     }
 
 
 
     //ACCORDION
 Accordion{
     margin-bottom: 3rem;
 }
   .accordion-details{
     background-color: #ffa41ba3;
     color:black;
   }
     
   .accordion-summary{
     background-color: $main-color;
     color:$white;
   }
 }
}


@media(max-width:1180px){

    .home-showcase{


        padding:0rem 4rem;
    }
    .home-stats{

        padding: 0rem 4rem;
    }
    .faq{
        padding:2rem 4rem;
    }
    .home-join-us{
        .home-join-us-content{
    
            padding:0rem 4rem;
        }
    }
    .cta{
        padding:0rem 4rem;
       
       }
}

@media(max-width:1096px){

    .home-showcase{

        .home-showcase-content{


            display:flex;
            align-items: center;
            align-items: center;
            justify-content: center;
            margin-bottom: 3rem;
            gap:1.8rem;
    
            img{
                width:250px;
                height:250px;
            }
    
        }
    }
    

        .home-stats{
        
        
            .home-stats-container{
        
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        
            .stats-background-image{
                background-image: url('../../assets/ninefivehome-stats-bg.webp');
                height:420px;
               width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                resize: none;
        
            }
            .stats-info{
                background-color: $main-color;
                color:$white;
                padding:2rem;
               // max-width:1000px;
               height:420px;
               width: 100%;
                
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
        
        
        
              /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
            }
        
            .stats-header{
                margin-bottom: 4rem;
       
       
                .stats-header-title{
                   color:$white;
           
                   font-size: 1.2rem;
                   margin-bottom: 1rem;
       
                   span{
       
                       color:$accent-color;
                   }
                }
       
       
                
             
       
                 
           }
       
           .stats-header{
            margin-bottom: 4rem;
   
   
            .stats-header-title{
               color:$white;
             width:100%;
               font-size: 1.2rem;
               margin-bottom: 1rem;
   
               span{
   
                   color:$accent-color;
               }
            }
   
   
            
            .stats-header-description{
               width:96%;
             }
   
             
       }
   
       .stats-figures{
        width:100%;
        display:flex;
        gap:5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
   
       }
       .figure-title{
   
           margin-top:0.5rem;
       }

       .figure-content{
        align-items: flex-start;
       }
        }


        .faq{

   
 
   
    
            background-color: $faq-background;
         
           
            .faq-title-container{
               .faq-title{
                transform: translateY(100%);
               }
            }
        
            .accordion-content{
                margin-top: 4rem;
            }
        
            .faq-accordion{
        
                display:flex;
              flex-direction: column;
                gap:2rem;
                justify-content: space-between;
            }
        
        
            .faq-gallery{
                display:flex;
                flex-direction: column;
        
        
                .gallery-big-image>img{
        
                    width:100%;
                    margin-bottom: 1rem;
                }
        
                .gallery-dual-images>img{
        
                    width:50%;
                
                }
                .gallery-dual-images{
                    display:flex;
                    gap:10px;
                }
            }
        
        
        
            //ACCORDION
        Accordion{
            margin-bottom: 3rem;
        }
          .accordion-details{
            background-color: #ffa41ba3;
            color:black;
          }
            
          .accordion-summary{
            background-color: $main-color;
            color:$white;
          }
        }







        .testimonials{
          
           background-color: $testimonials-background;
           background-image: linear-gradient(to right, #f2cece, #d7f0d7, #c8c8ee);
             
          
         
          .testimonials-title{
             display:flex;
             justify-content: center;
             align-items: center;
             text-align: center;
          margin: 1rem auto 3rem auto;
             font-size: 1.3rem;
             width:100%;
         
             span{
                 color: $main-color;
             }
          }
             .testimonials-container{
                   
                 display:flex;
                 justify-content: space-between;
                 align-items: center;
             
                
                 .testimonial-card{
               background-color: rgb(249, 245, 236);
               padding:1rem;
               border-radius: 10px;
                   .testimonial-profile{
         
                     .testimonial-img{
                         position: relative;
                    
                     .img-profile{
                       
                         width:110px;
                         height:100px;
                      border-radius: 100%;
                      object-fit: cover;
                      object-position: center;
                      margin-bottom: 2rem;
         
                     }
         
                     .img-qoute{
         
                         width:30px;
                         height:30px;
                         position: absolute;
                         top:-5px;
                         right: 0;
                     }
                 }
         
                   }
         
                     display:flex;
                     justify-content: center;
                     flex-direction: column;
                     align-items: center;
                     width: 28ch;
                     text-align: center;
                 }
         
             }
             .testimonial-paragraph{
                font-size: 0.9rem;
                margin-bottom: 2rem;
             }
             .testimonial-author{
                 margin-bottom: 0.5rem;
                 font-size: 0.9rem;
                 font-weight: bolder;
             }
             .testimonial-occupation{
                 font-size: 0.9rem;
                 text-wrap: wrap;
                 width:15ch;
             }
         
             .swiper-slide{
                 display:flex;
            gap:0.6rem;
                 justify-content: space-between;
                 align-items: center;
             }
             .mySwiper{
                 cursor: pointer;
             }
         }


         .cta{


         
         height:90dvh;
         color:$white;
         background-size: cover;
         background-repeat: no-repeat;
         background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../assets/cta-bg.webp');
      
          background-attachment: fixed;
        
         .cta-title{
            font-size: 2rem;
            margin-bottom: 3rem;
            width: 100%;
           
         }
          .cta-content{
        
            padding:5rem 0rem;
        
        
            .form{
                display:flex;
                flex-direction: column;
                width:100%;
        
                input{
                    margin-bottom: 1rem;
                    padding:1rem;
                    border:none;
                    outline:none;
                    border-radius: 5px;
                }
                  textarea{
                    padding:1rem;
                    resize: none;
                    border:none;
                    outline:none;
                    border-radius: 5px;
                  }
                  button{
                    @include buttons;
                  }
            }
          }
        
        }
        
}


@media(max-width:1110px){


    .home-showcase{
          .home-showcase-content{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:1rem;

            img{
                width:330px;
                height:330px;
            }

          }
       
    }

    .home-showcase-card{

         .home-showcase-card-content-description{
           
             width:70%;
             margin:0 auto;
         }}
          }




          @media(max-width:950px){
        
            
            .home-showcase{

          
    .home-showcase-header{

        margin-bottom: 3rem;
        h1{
            font-size: 2.1rem;
            text-align: center;
            width:25ch;
            margin: 0 auto;
            margin-bottom: 2.5rem;

            span{

                color:$main-color;
            }
        }

        p{

            width:70%;
            text-align: center;
            margin:0 auto;
        }
    }
}
          }



          @media(max-width:850px){
          .cta{
            background-position: center;
          }
            .home-showcase{

          
                .home-showcase-header{
            
                    margin-bottom: 3rem;
                    h1{
                        font-size: 2.1rem;
                        text-align: center;
                        width:25ch;
                        margin: 0 auto;
                        margin-bottom: 2.5rem;
            
                        span{
            
                            color:$main-color;
                        }
                    }
            
                    p{
            
                        width:100%;
                        text-align: center;
                        margin:0 auto;
                    }
                }
            }



            .home-showcase-card{

                .home-showcase-card-content-description{
                  
                    width:100%;
                    margin:0 auto;
                }}

.testimonials{
    padding:4rem 2rem;
}

                      }



                      @media(max-width:750px){

                        .home-stats{
        
        
                            .home-stats-container{
                        
                                display:flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                        
                            .stats-background-image{
                                background-image: url('../../assets/ninefivehome-stats-bg.webp');
                                height:420px;
                               width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                resize: none;
                        
                            }
                            .stats-info{
                                background-color: $main-color;
                                color:$white;
                                padding:2rem;
                               // max-width:1000px;
                               height:fit-content;
                               width: 100%;
                                
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                text-align: center;
                        
                        
                        
                              /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
                                -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
                                -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
                            }
                        
                            .stats-header{
                                margin-bottom: 4rem;
                       
                       
                                .stats-header-title{
                                   color:$white;
                           
                                   font-size: 1.2rem;
                                   margin-bottom: 1rem;
                       
                                   span{
                       
                                       color:$accent-color;
                                   }
                                }
                       
                       
                                
                             
                       
                                 
                           }
                       
                           .stats-header{
                            margin-bottom: 4rem;
                   
                   
                            .stats-header-title{
                               color:$white;
                             
                               font-size: 1.2rem;
                               margin-bottom: 1rem;
                   
                               span{
                   
                                   color:$accent-color;
                               }
                            }
                   
                   
                            
                            .stats-header-description{
                               width:96%;
                             }
                   
                             
                       }
                   
                       .stats-figures{
                        width:100%;
                        display:flex;
                        gap:5rem;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                   
                       }
                       .figure-title{
                   
                           margin-top:0.5rem;
                       }
                
                       .figure-content{
                        align-items: flex-start;
                       }
                        }


                        .testimonials{
          
                            background-color: $testimonials-background;
                            background-image: linear-gradient(to right, #f2cece, #d7f0d7, #c8c8ee);
                              
                           
                          
                           .testimonials-title{
                              display:flex;
                              justify-content: center;
                              align-items: center;
                              text-align: center;
                           margin: 1rem auto 3rem auto;
                              font-size: 1.3rem;
                              width:100%;
                          
                              span{
                                  color: $main-color;
                              }
                           }
                              .testimonials-container{
                                    
                                  display:flex;
                                  justify-content: space-between;
                                  align-items: center;
                              
                                 
                                  .testimonial-card{
                                background-color: rgb(249, 245, 236);
                                padding:1rem;
                                border-radius: 10px;
                                height:fit-content;
                                    .testimonial-profile{
                          
                                      .testimonial-img{
                                          position: relative;
                                     
                                      .img-profile{
                                        
                                          width:110px;
                                          height:100px;
                                       border-radius: 100%;
                                       object-fit: cover;
                                       object-position: center;
                                       margin-bottom: 1rem;
                          
                                      }
                          
                                      .img-qoute{
                          
                                          width:30px;
                                          height:30px;
                                          position: absolute;
                                          top:-5px;
                                          right: 0;
                                      }
                                  }
                          
                                    }
                          
                                      display:flex;
                                      justify-content: center;
                                      flex-direction: column;
                                      align-items: center;
                                      width: 28ch;
                                      text-align: center;
                                  }
                          
                              }
                              .testimonial-paragraph{
                                 font-size: 0.7rem;
                                 margin-bottom: 1rem;
                              }
                              .testimonial-author{
                                  margin-bottom: 0.5rem;
                                  font-size: 0.9rem;
                                  font-weight: bolder;
                              }
                              .testimonial-occupation{
                                  font-size: 0.9rem;
                                  text-wrap: wrap;
                                  width:15ch;
                              }
                          
                              .swiper-slide{
                                  display:flex;
                             gap:0.6rem;
                                  justify-content: space-between;
                                  align-items: center;
                              }
                              .mySwiper{
                                  cursor: pointer;
                              }
                          }

                      }
            

@media (max-width:660px){




    

    .home-showcase{

          
        .home-showcase-header{
    
            margin-bottom: 3rem;
            h1{
                font-size: 1.7rem;
                text-align: center;
                width:25ch;
                margin: 0 auto;
                margin-bottom: 2.5rem;
    
                span{
    
                    color:$main-color;
                }
            }
    
            p{
    
                width:100%;
                text-align: center;
                margin:0 auto;
            }
        }
    }


    .testimonials{
          
        background-color: $testimonials-background;
        background-image: linear-gradient(to right, #f2cece, #d7f0d7, #c8c8ee);
          
       width:100%;
      
       .testimonials-title{
          display:flex;
          justify-content: center;
          align-items: center;
          text-align: center;
       margin: 1rem auto 3rem auto;
          font-size: 1.3rem;
          width:100%;
      
          span{
              color: $main-color;
          }
       }
          .testimonials-container{
                
              display:flex;
              justify-content: space-between;
              align-items: center;
              width:100%;
          
             
              .testimonial-card{
            background-color: rgb(249, 245, 236);
            padding:2rem;
            border-radius: 10px;
        
                .testimonial-profile{
      
                  .testimonial-img{
                      position: relative;
                 
                  .img-profile{
                    
                      width:110px;
                      height:100px;
                   border-radius: 100%;
                   object-fit: cover;
                   object-position: center;
                   margin-bottom: 2rem;
      
                  }
      
                  .img-qoute{
      
                      width:30px;
                      height:30px;
                      position: absolute;
                      top:-5px;
                      right: 0;
                  }
              }
      
                }
      
                  display:flex;
                  justify-content: center;
                  flex-direction: column;
                  align-items: center;
                  width: 28ch;
                  text-align: center;
              }
      
          }
          .testimonial-paragraph{
             font-size: 1rem;
             margin-bottom: 1rem;
          }
          .testimonial-author{
              margin-bottom: 1rem;
              font-size: 0.9rem;
              font-weight: bolder;
          }
          .testimonial-occupation{
              font-size: 0.9rem;
              text-wrap: wrap;
              width:15ch;
          }
      
          .swiper-slide{
              display:flex;
         gap:0.6rem;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
          }
          .mySwiper{
              cursor: pointer;
          }
      }




      .home-join-us{


        height:80vh;
        width:100%;
        display:flex;
        justify-content: center;
          background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)), url('../../assets/hero-bg-01.webp');
     
         background-attachment: fixed;
        .home-join-us-content{
    
            color:$white;
          
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
        .join-us-title{
    
            font-size: 4rem;
            width:100%;
            text-align: center;
            text-wrap: wrap;
        }
        .join-us-description{
            font-size: 2rem;
            margin-top: 1rem;
        }
        .join-us-button{
    
            @include buttons;
        }
    }
}

          
@media(max-width:550px){

    .home-stats{


        .home-stats-container{
    
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .stats-background-image{
            background-image: url('../../assets/ninefivehome-stats-bg.webp');
            height:420px;
           width: 400px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            resize: none;
    
        }
        .stats-info{
            background-color: $main-color;
            color:$white;
            padding:2rem;
           // max-width:1000px;
           height:fit-content;
           width: 400px;
            
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
    
    
    
          /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
        }
    
        .stats-header{
            margin-bottom: 4rem;
   
   
            .stats-header-title{
               color:$white;
       
               font-size: 1rem;
               margin-bottom: 1rem;
   
               span{
   
                   color:$accent-color;
               }
            }
   
   
            
         
   
             
       }
   
       .stats-header{
        margin-bottom: 4rem;


        .stats-header-title{
           color:$white;
         
           font-size: 1.2rem;
           margin-bottom: 1rem;

           span{

               color:$accent-color;
           }
        }


        
        .stats-header-description{
           width:96%;
         }

         
   }

   .stats-figures{
    width:100%;
    display:flex;
    gap:5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

   }
   .figure-title{

       margin-top:0.5rem;
   }

   .figure-content{
    align-items: flex-start;
   }
    }

  }

@media (max-width:520px){


    .home-showcase{

          
        .home-showcase-header{
    
            margin-bottom: 3rem;
            h1{
                font-size: 1.4rem;
                text-align: center;
                width:25ch;
                margin: 0 auto;
                margin-bottom: 2.5rem;
    
                span{
    
                    color:$main-color;
                }
            }
    
            p{
    
                width:100%;
                text-align: center;
                margin:0 auto;
            }
        }
    }

}


@media(max-width:486px){

    .home-showcase{

        padding:0rem 1rem;
    }
    .home-stats{

        padding: 0rem 1rem;
    }
    .faq{
        padding:2rem 1rem;
    }
    .testimonials{

        padding:4rem 1rem;
    }
    .home-join-us-content{

        padding:0rem 1rem;
    }
    .home-join-us{
        .home-join-us-content{
    
            padding:0rem 1rem;
        }
    }
    .cta{
        padding:0rem 1rem;
 
     
       }
}


@media(max-width:446px){
    .faq{

   
 
   
    
        background-color: $faq-background;
     
       
        .faq-title-container{
           .faq-title{
            transform: translateY(100%);
            text-align: center;
           }
        }
    
        .accordion-content{
            margin-top: 4rem;
        }
    
        .faq-accordion{
    
            display:flex;
          flex-direction: column;
            gap:2rem;
            justify-content: space-between;
        }
    
    
        .faq-gallery{
            display:flex;
            flex-direction: column;
    
    
            .gallery-big-image>img{
    
                width:100%;
                margin-bottom: 1rem;
            }
    
            .gallery-dual-images>img{
    
                width:50%;
            
            }
            .gallery-dual-images{
                display:flex;
                gap:10px;
            }
        }
    
    
    
        //ACCORDION
    Accordion{
        margin-bottom: 3rem;
    }
      .accordion-details{
        background-color: #ffa41ba3;
        color:black;
      }
        
      .accordion-summary{
        background-color: $main-color;
        color:$white;
      }
    }
    .cta{


         
        height:90dvh;
        color:$white;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../assets/cta-bg.webp');
       
         background-attachment: fixed;
       
        .cta-title{
           font-size: 2rem;
           margin-bottom: 3rem;
           width: 100%;
           text-align: center;
        }
         .cta-content{
       
           padding:5rem 0rem;
       
       
           .form{
               display:flex;
               flex-direction: column;
               width:100%;
       
               input{
                   margin-bottom: 1rem;
                   padding:1rem;
                   border:none;
                   outline:none;
                   border-radius: 5px;
               }
                 textarea{
                   padding:1rem;
                   resize: none;
                   border:none;
                   outline:none;
                   border-radius: 5px;
                 }
                 button{
                   @include buttons;
                 }
           }
         }
       
       }
    .home-stats{


        .home-stats-container{
    
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .stats-background-image{
            background-image: url('../../assets/ninefivehome-stats-bg.webp');
            height:420px;
 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
      
    
        }
        .stats-info{
            background-color: $main-color;
            color:$white;
            padding:2rem;
           // max-width:1000px;
           height:fit-content;
         
            
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
    
    
    
          /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
        }
    
        .stats-header{
            margin-bottom: 4rem;
   
   
            .stats-header-title{
               color:$white;
       
               font-size: 1rem;
               margin-bottom: 1rem;
   
               span{
   
                   color:$accent-color;
               }
            }
   
   
            
         
   
             
       }
   
       .stats-header{
        margin-bottom: 4rem;


        .stats-header-title{
           color:$white;
         
           font-size: 1.2rem;
           margin-bottom: 1rem;

           span{

               color:$accent-color;
           }
        }


        
        .stats-header-description{
           width:96%;
         }

         
   }

   .stats-figures{
    width:100%;
    display:flex;
    gap:5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

   }
   .figure-title{

       margin-top:0.5rem;
   }

   .figure-content{
    align-items: flex-start;
   }
    }
    .home-join-us{


        height:80vh;
        width:100%;
        display:flex;
        justify-content: center;
          background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)), url('../../assets/hero-bg-01.webp');
     
         background-attachment: fixed;
        .home-join-us-content{
    
            color:$white;
          
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
        .join-us-title{
    
            font-size: 2.7rem;
            width:100%;
            text-align: center;
            text-wrap: wrap;
        }
        .join-us-description{
            font-size: 2rem;
            margin-top: 1rem;
        }
        .join-us-button{
    
            @include buttons;
        }
    }
  }

@media(max-width:410px){

    .home-showcase{
        .home-showcase-header{
    
            margin-bottom: 3rem;
            h1{
                font-size: 1.2rem;
                text-align: center;
                width:25ch;
                margin: 0 auto;
                margin-bottom: 2.5rem;
    
                span{
    
                    color:$main-color;
                }
            }
    
            p{
    
                width:100%;
                text-align: center;
                margin:0 auto;
            }
        }
    
    }



}


@media(max-width:400px){
    .faq{

   
 
        font-size: 0.8rem;
    
        background-color: $faq-background;
     
       
        .faq-title-container{
           .faq-title{
            transform: translateY(50%);
            width:100%;
           }
        }
    
        .accordion-content{
            margin-top: 4rem;
        }
    
        .faq-accordion{
    
            display:flex;
          flex-direction: column;
            gap:2rem;
            justify-content: space-between;
        }
    
    
        .faq-gallery{
            display:flex;
            flex-direction: column;
    
    
            .gallery-big-image>img{
    
                width:100%;
                margin-bottom: 1rem;
            }
    
            .gallery-dual-images>img{
    
                width:50%;
            
            }
            .gallery-dual-images{
                display:flex;
                gap:10px;
            }
        }
    
    
    
        //ACCORDION
    Accordion{
        margin-bottom: 3rem;
    }
      .accordion-details{
        background-color: #ffa41ba3;
        color:black;
        font-size: 0.8rem;
      }
        
      .accordion-summary{
        background-color: $main-color;
        color:$white;
        font-size: 0.8rem;
      }
    }

   .testimonials{
    .testimonials-title{
        font-size: 1rem;
    }
   } 


}

@media(max-width:380px){
    .cta{


         
        height:90%;
        color:$white;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../assets/cta-bg.webp');
       
         background-attachment: fixed;
       
        .cta-title{
           font-size: 2rem;
           margin-bottom: 3rem;
           width: 100%;
           text-align: center;
        }
         .cta-content{
       
           padding:5rem 0rem;
       
       
           .form{
               display:flex;
               flex-direction: column;
               width:100%;
       
               input{
                   margin-bottom: 1rem;
                   padding:1rem;
                   border:none;
                   outline:none;
                   border-radius: 5px;
               }
                 textarea{
                   padding:1rem;
                   resize: none;
                   border:none;
                   outline:none;
                   border-radius: 5px;
                 }
                 button{
                   @include buttons;
                 }
           }
         }
       
       }
    .home-stats{

        margin-top: 1rem;
        margin-bottom: 3rem;
      
    
        .home-stats-container{
    
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .stats-background-image{
            background-image: url('../../assets/ninefivehome-stats-bg.webp');
            height:420px;
            min-width:100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        
    
        }
        .stats-info{
            background-color: $main-color;
            color:$white;
            padding:2rem;
           // max-width:1000px;
            height:fit-content;
            min-width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
    
    
          /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
        }
    
        .stats-header{
            
              margin:0 auto 4rem auto;
    
             .stats-header-title{
                color:$white;
                width:100%;
                text-align: center;
                text-wrap: wrap;
                font-size: 0.9rem;
                margin-bottom: 1rem;
    
                span{
    
                    color:$accent-color;
                }
             }
    
    
             
             .stats-header-description{
                width:100%;
              }
    
              
        }
    
        .stats-figures{
         display:flex;
         gap:5rem;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
    
        }
        .figure-title{
    
            margin-top:0.5rem;
        }
    }

  }



  @media(max-width:350px){

    .home-stats{

        margin-top: 1rem;
        margin-bottom: 3rem;
      
    
        .home-stats-container{
    
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .stats-background-image{
            background-image: url('../../assets/ninefivehome-stats-bg.webp');
            height:420px;
            min-width:100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        
    
        }
        .stats-info{
            background-color: $main-color;
            color:$white;
            padding:4rem;
           // max-width:1000px;
            height:fit-content;
            min-width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
    
    
          /*   box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 9px -8px 13px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 9px -8px 13px -7px rgba(0,0,0,0.75); */
        }
    
        .stats-header{
            
              margin:0 auto 4rem auto;
    
             .stats-header-title{
                color:$white;
                width:100%;
                text-align: center;
                text-wrap: wrap;
                font-size: 0.9rem;
                margin-bottom: 1rem;
    
                span{
    
                    color:$accent-color;
                }
             }
    
    
             
             .stats-header-description{
                width:100%;
              }
    
              
        }
    
        .stats-figures{
         display:flex;
         gap:5rem;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
    
        }
        .figure-title{
    
            margin-top:0.5rem;
        }
    }

  }
@media(max-width:345px){
   

    .home-showcase{
       .home-showcase-content{
        img{
            width:235px;
            height:235px;
        }
       }
        .home-showcase-header{
    
            margin-bottom: 3rem;
            h1{
                font-size: 1rem;
                text-align: center;
                width:25ch;
                margin: 0 auto;
                margin-bottom: 2.5rem;
    
                span{
    
                    color:$main-color;
                }
            }
    
            p{
    
                width:100%;
                text-align: center;
                margin:0 auto;
            }
        }
    

      

    }
   
}   