@import '../../fragments/colors/colors.scss';

@import '../../fragments/mixins/mixins.scss';
@import '../../fragments/fonts/fonts.scss';


//FOOTER



.footer{
background-color: $main-dark-color;
color: $white;
padding: 4rem 12rem 1rem 12rem;
color:$gray-text;
 
.footer-about-column, .footer-explore-column,
.footer-legal-column, .footer-questions-column{

    height:300px;
}


li{
    margin-bottom: 1rem;
}
.Link{


    color:$gray-text;
}

 .footer-titles{
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: $white;
    height:20px;



    span{
        color: $footer-logo-span;
    }
 }
 .footerlogo{
  font-size: 1.2rem;
    font-family: $Orbitron;
 }
   .footer-content{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;

   }

   .footer-about-content{
    width:30ch;
    color:$gray-text;
   }

   .footer-about-info{

    margin-bottom: 2rem;
   }
   .footer-social-icons{
    color:$white;
    display:flex;
    align-items: center;
    gap:2rem;
    font-size: 1.2rem;

   }

   .footer-icon{
    color: $white;
    font-size: 1.2rem;
   }
   
   .footer-questions-info{
    display:flex;
     gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
    text-wrap: wrap;
   }
}



//MEDIA QUERIES || RESPONSIVE STYLES

@media (max-width:1400px){
    .footer{


        padding: 4rem 9rem 1rem 9rem;
    }


}
@media (max-width:1300px){
    .footer{


        padding: 4rem 5rem 1rem 5rem;
    }


}
@media (max-width:1180px){
    .footer{


        padding: 4rem 4rem 1rem 4rem;


        .footer-content{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:2rem;
        
           }
        
           .footer-about-content{
            width:30ch;
            color:$gray-text;
           }
        
    }


}
@media (max-width:952px){
    .footer{


        padding: 4rem 2rem 1rem 2rem;


        .footer-content{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:1rem;
        
           }
        
           .footer-about-content{
            width:30ch;
            color:$gray-text;
           }
        
    }


}
@media (max-width:880px){
  
.footer{
 
    background-color: $main-dark-color;
    color: $white;
    padding: 4rem 1rem 1rem 1rem;
    color:$gray-text;
     
    .footer-about-column, .footer-explore-column,
    .footer-legal-column, .footer-questions-column{
        height:fit-content;
        margin-bottom: 2rem;
       
    }
    
    
    li{
        margin-bottom: 1rem;
    }
    .Link{
    
    
        color:$gray-text;
    }
    
     .footer-titles{
        margin-bottom: 2rem;
        font-size: 1.2rem;
        color: $white;
      
    
    
    
        span{
            color: $footer-logo-span;
        }
     }
     .footerlogo{
      font-size: 1.2rem;
        font-family: $Orbitron;
     }
       .footer-content{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:0.5rem;
        text-align: center;
    
       }
    
       .footer-about-content{
        width:90%;
        color:$gray-text;
        text-align: center;
        margin: 0 auto;
       }
    
       .footer-about-info{
    
        margin-bottom: 2rem;
       }
       .footer-social-icons{
        color:$white;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:2rem;
        font-size: 1.2rem;
        margin: 0 auto;
    
       }
    
       .footer-icon{
        color: $white;
        font-size: 1.2rem;
       }
       
       .footer-questions-info{
        display:flex;
         gap: 0.5rem;
         justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        text-wrap: wrap;
        text-align: center;


     
       }
    }


}


