//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
//IMPORT FRAGMENTS

@import 'fragments/colors/colors.scss';
@import 'fragments/fonts/fonts.scss';
@import 'fragments/mixins/mixins.scss';

//CSS RESETS
*::before, *::after, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}


//UTILS

img{
    display:block;
}
a{
    text-decoration: none;
    color: $default-text-color;
   
}
li, ul{
    list-style-type: none;
    list-style: none;
}
html{
    width:100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{

    font-family: $Montserrat;
   
   
}



